/* App.css */
body {
    background-color: rgb(15, 15, 112);
}

.titulo {
    padding: 20px;
    color: white;
}

.formulario {
    background-color: rgb(6, 80, 129);
    color: white;
    font-weight: bolder;
}
